Repository open-mmlab/mmdetection, pull requests merged in 2021-04, with the labels that each got.

#4818 [WIP] Allow MRCNN TRT conversion with `grid_sample` op
  configs/ld/ld_r101_gflv1_r101dcn_fpn_coco_2x.py
  configs/ld/ld_r18_gflv1_r101_fpn_coco_1x.py
  configs/ld/ld_r34_gflv1_r101_fpn_coco_1x.py
  configs/ld/ld_r50_gflv1_r101_fpn_coco_1x.py
  configs/ld/readme.md
  docs/tutorials/pytorch2onnx.md
  mmdet/apis/inference.py
  mmdet/core/export/onnx_helper.py
  mmdet/models/dense_heads/__init__.py
  mmdet/models/dense_heads/ld_head.py
  mmdet/models/detectors/__init__.py
  mmdet/models/detectors/kd_one_stage.py
  mmdet/models/losses/__init__.py
  mmdet/models/losses/kd_loss.py
  mmdet/models/roi_heads/bbox_heads/bbox_head.py
  mmdet/models/roi_heads/mask_heads/fcn_mask_head.py
  mmdet/models/roi_heads/standard_roi_head.py
  mmdet/models/roi_heads/test_mixins.py
  tests/test_metrics/test_losses.py
  tests/test_models/test_dense_heads/test_ld_head.py
  tests/test_models/test_forward.py
Labels: deployment

#4905 Fix dynamic clip error in box coder for TensorRT
  mmdet/core/export/onnx_helper.py
Labels: ONNX

#4913 Update onnx-simplify tool to 3rd party package
  tools/deployment/pytorch2onnx.py
Labels: ONNX

#4940 [Enhancement]: update pytorch2onnx to test dynamic shape and multi-batch inference
  docs/tutorials/onnx2tensorrt.md
  docs/tutorials/pytorch2onnx.md
  tools/deployment/pytorch2onnx.py
Labels: ONNX

#4968 [Feature]: add onnxruntime test tool
  .pre-commit-config.yaml
  docs/tutorials/pytorch2onnx.md
  mmdet/core/__init__.py
  mmdet/core/bbox/coder/delta_xywh_bbox_coder.py
  mmdet/core/bbox/coder/tblr_bbox_coder.py
  mmdet/core/bbox/transforms.py
  mmdet/core/export/__init__.py
  mmdet/core/export/model_wrappers.py
  mmdet/models/dense_heads/anchor_head.py
  mmdet/models/dense_heads/fcos_head.py
  mmdet/models/dense_heads/rpn_head.py
  mmdet/models/dense_heads/yolo_head.py
  mmdet/models/roi_heads/bbox_heads/bbox_head.py
  mmdet/models/roi_heads/mask_heads/fcn_mask_head.py
  tools/deployment/onnx2tensorrt.py
  tools/deployment/pytorch2onnx.py
  tools/deployment/test.py
Labels: ONNX

#5039 [Feature]: Support exporting to ONNX with batch and dynamic shape
  .pre-commit-config.yaml
  docs/tutorials/onnx2tensorrt.md
  docs/tutorials/pytorch2onnx.md
  mmdet/core/__init__.py
  mmdet/core/bbox/coder/delta_xywh_bbox_coder.py
  mmdet/core/bbox/coder/tblr_bbox_coder.py
  mmdet/core/bbox/transforms.py
  mmdet/core/export/__init__.py
  mmdet/core/export/model_wrappers.py
  mmdet/core/export/onnx_helper.py
  mmdet/models/dense_heads/anchor_free_head.py
  mmdet/models/dense_heads/anchor_head.py
  mmdet/models/dense_heads/fcos_head.py
  mmdet/models/dense_heads/rpn_head.py
  mmdet/models/dense_heads/yolo_head.py
  mmdet/models/detectors/rpn.py
  mmdet/models/roi_heads/bbox_heads/bbox_head.py
  mmdet/models/roi_heads/mask_heads/fcn_mask_head.py
  mmdet/models/roi_heads/standard_roi_head.py
  mmdet/models/roi_heads/test_mixins.py
  tests/test_models/test_dense_heads/test_autoassign_head.py
  tests/test_onnx/__init__.py
  tests/test_onnx/data/fsaf_head_get_bboxes.pkl
  tests/test_onnx/data/ssd_head_get_bboxes.pkl
  tests/test_onnx/test_head.py
  tests/test_onnx/test_neck.py
  tests/test_onnx/utils.py
  tools/deployment/onnx2tensorrt.py
  tools/deployment/pytorch2onnx.py
  tools/deployment/test.py
Labels: ONNX

#5077 [Doc]: add table format of pytorch2onnx
  docs/tutorials/pytorch2onnx.md
Labels: Doc
