Repository open-mmlab/mmdetection, pull requests merged in 2021-03, with the labels that each got.

#4684 [Feature]: support dynamic shape for grid_anchor
  mmdet/core/anchor/anchor_generator.py
  mmdet/models/dense_heads/anchor_head.py
Labels: ONNX

#4685 [Feature]: export onnx model to support dynamic input size
  mmdet/core/bbox/coder/delta_xywh_bbox_coder.py
  mmdet/models/dense_heads/anchor_head.py
  mmdet/models/detectors/single_stage.py
Labels: ONNX, deployment

#4720 fix `RuntimeError` due to two tensor are not on the same device
  mmdet/models/dense_heads/anchor_head.py
Labels: bug

#4704 Add onnxruntime unit test cases
  mmdet/models/dense_heads/anchor_head.py
  requirements/tests.txt
  tests/test_onnx/__init__.py
  tests/test_onnx/data/retina_head_get_bboxes.pkl
  tests/test_onnx/data/yolov3_head_get_bboxes.pkl
  tests/test_onnx/data/yolov3_neck.pkl
  tests/test_onnx/test_head.py
  tests/test_onnx/test_neck.py
  tests/test_onnx/utils.py
Labels: ONNX

#4781 Add fcos, fsaf, ssd head unittest case and fix fcos deploy bug
  mmdet/models/dense_heads/fcos_head.py
  tests/test_onnx/__init__.py
  tests/test_onnx/data/fsaf_head_get_bboxes.pkl
  tests/test_onnx/data/ssd_head_get_bboxes.pkl
  tests/test_onnx/test_head.py
  tests/test_onnx/test_neck.py
  tests/test_onnx/utils.py
Labels: ONNX

#4796 [Feature]: support pytorch2onnx with batch and dynamic shape
  docs/tutorials/onnx2tensorrt.md
  docs/tutorials/pytorch2onnx.md
  mmdet/core/bbox/coder/delta_xywh_bbox_coder.py
  mmdet/core/bbox/coder/tblr_bbox_coder.py
  mmdet/core/bbox/transforms.py
  mmdet/core/export/onnx_helper.py
  mmdet/models/dense_heads/anchor_free_head.py
  mmdet/models/dense_heads/anchor_head.py
  mmdet/models/dense_heads/fcos_head.py
  mmdet/models/dense_heads/rpn_head.py
  mmdet/models/dense_heads/yolo_head.py
  mmdet/models/detectors/rpn.py
  mmdet/models/roi_heads/bbox_heads/bbox_head.py
  mmdet/models/roi_heads/standard_roi_head.py
  tools/deployment/onnx2tensorrt.py
  tools/deployment/pytorch2onnx.py
Labels: ONNX
